@charset "UTF-8";
@import "sassConfig";
.color-main {
    color: $color-main;
}
.color-seconde {
    color: $color-seconde;
}
.text-main {
    color: $text-main;
}

.container {
    width: $container;
    margin: auto;
}

//浮动
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
//text-align
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
//header
.logo {
    margin-top: 30px;
    margin-bottom: 30px;
    img {
        display: block;
    } //把img转为块元素
}

//menu-link
.menu-link {
    margin-top: 7px;
    line-height: 22px;
    a,
    span,
    div {
        float: right;
    }
    a {
        color: $text-gray;
    }
    span {
        width: 1px;
        height: 14px;
        background-color: $text-gray;
        margin: 0 12px;
        margin-top: 6px;
    }
}

//语言
.lang {
    position: relative;
    width: 53px;
    height: 22px;
    background-color: #ececec;
    color: $text-gray; //文字色
    text-align: center; //水平剧中
    /*向下箭头第一种方法 i{
        display: inline-block;
        width: 8px;
        height: 10px;
        background-image: url(../images/icon.png);
        background-repeat: no-repeat;
        background-position:center;
        
    }*/

    /*向下箭头第一种方法*/
    &:after {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        margin: 0 0 2px 2px;
        border-left: 1px solid black;
        border-bottom: 1px solid black;

        //css3
        @include webkit(box-sizing, border-box);
        @include webkit(transform, rotate(-45deg));
    }
    &:hover {
        ul {
            display: block;
        }
    } //等价于.lang:hover ul{display:block;}
    ul {
        z-index: 10;
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 60px;
        background-color: #e0e0e0;
    }
    a {
        display: block;
        width: 100%;
        height: 28px;
        line-height: 28px; //设置行垂直居中
        text-align: center; //文字剧中
        &:hover {
            color: $color-main;
            background-color: chartreuse;
        }
    }
}

//头部导航nav
//>表示为子级
nav {
    margin-top: 50px;
    > ul {
        > li {
            float: left;
            position: relative;
            > a {
                color: black;
                font-weight: bold; //字体加粗
                &:after {
                    //css3绘画三角形
                    display: none;
                    content: "";
                    position: absolute;
                    bottom: -14px;
                    z-index: 2;
                    border-top: 7px solid #f5f5f5;
                    border-bottom: 7px solid transparent;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;

                    /*剧中*/
                    left: 50%;
                    margin-left: -7px;
                }
            }
            &:hover,
            &.current {
                a {
                    background-color: #f5f5f5;
                }
                a:after {
                    display: block;
                }
            } //current表示当前页面高光
        }
    }
    ul {
        ul {
            position: absolute;
            padding-top: 15px;
            display: none;
            a {
                color: black;
                width: 114px;
                height: 41px;
                line-height: 41px;
                text-align: center;
                &:hover {
                    background-color: #eaeaea;
                }
            }
        }
    }
    li {
        &:hover {
            > ul {
                display: block;
            }
        }
        a {
            display: block;
            width: 114px;
            height: 54px;
            line-height: 54px;
            text-align: center;
        }
    }
}

//页脚
body > footer {
    background-color: #eae9e4;
    padding-top: 70px;
}
#copyright {
    border-top: 1px solid $text-gray;
    line-height: 48px;

    color: $text-gray;
    margin-top: 59px;
}
.footer-address {
    h5 {
        margin-bottom: 26px;
        color: $text-gray;
        font-size: 24px;
    }
    p {
        font-size: 13px;
        color: $text-gray;
        line-height: 23px;
    }
    a {
        color: $text-gray;
    }
}
.share {
    margin-top: 30px;
    a {
        position: relative;
        float: left;
        width: 30px;
        height: 30px;
        margin-right: 24px;
        background-color: #a0a0a0;
        line-height: 30px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        //圆角,值大于宽高百分百圆
        border-radius: 100px;
        &:hover {
            p {
                visibility: visible;
                opacity: 1; //透明度
                filter: alpha(opacity=100);
            }
        }
    }
    p {
        display: block;
        visibility: hidden;
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 10px;
        bottom: 150%;
        left: 50%;
        margin-left: -40px;
        background-color: white;
        opacity: 0; //透明度
        filter: alpha(opacity=0);
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8)); //rgba:0，0，0颜色值，.80透明度
        @include webkit(transition, all 0.3s ease 0s); //css缓冲动态效果

        &::after {
            content: "";
            position: absolute;
            border-top: 8px solid white;
            border-bottom: 8px solid transparent;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            bottom: -15px;
            margin-left: -48px;
        }
    }
    img {
        width: 100%;
        height: 100%;
    }
}
.sing-share {
    // background: url(../images/iconshare.png) no-repeat 0 0;
    &:hover {
        background-color: #fd0d51;
    }
}
.wechat-share {
    // background: url(../images/iconshare.png) no-repeat -50px 0px;
    &:hover {
        background-color: #1dd76c;
    }
}
//页脚右边
.footer-menu {
    dl {
        float: left;
        width: 75px;
        margin-right: 38px;
        img {
            width: 78px;
            height: 78px;
            margin-bottom: 10px;
        }
    }
    dt {
        padding-bottom: 17px;
        margin-bottom: 14px;
        border-bottom: 1px solid #c5c5c5;
        line-height: 26px;
    }
    dd {
        line-height: 24px;
        a {
            color: #717171;
        }
    }
}

//主体内容标题
.common-column{
    text-align: center;
   
    h4{
        font-size: 26px;
        font-weight: normal;
    }
    p{
        margin-top: 12px;
        color: $text-gray;
        text-transform: uppercase;
    }
    span{
        display: inline-block;
        height: 13px;
        margin: 0 9px;
        border-left:1px solid #cfcfcf;
    }
}
//查看更多
.common-more{
    display: inline-block;
    width: 91px;
    height: 30px;
    border: 1px solid #676767;
    color: #585858;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    img{
        padding-left: 7px;

    }
}

//clearfix 清除浮动
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
@for $var from 1 to 100 {
    .padding-top-#{$var}{padding-top: 1px*$var;}
    .padding-bottom-#{$var}{padding-bottom: 1px*$var;}
}
@for $var from 1 to 100 {
    .margin-top-#{$var}{margin-top: 1px*$var;}
    .margin-bottom-#{$var}{margin-bottom: 1px*$var;}
}